.page{
    height: calc(100% - 70px);
    background: linear-gradient(rgba(116, 116, 116, 0.249), rgba(116, 116, 116, 0));
}

main{
    padding: 48px 144px;
    display: flex;
}

h1, .h1{
    color: #585858;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 0;
}

@media screen and (max-width: 768px){
    main{
        padding: 5px;
    }
    
    h1, .h1{
        font-size: 35px;
    }
}