@page "/faq"
@inject NavigationManager NavManager

<h1>F.A.Q.</h1>

<h2>Описание сервиса</h2>
<p>Вы находитесь на интернет-ресурсе <a href=@NavManager.BaseUri>@NavManager.BaseUri.Replace("https://", "").Replace("http://", "")</a>, веб-сервисе Topaz.</p>

<h2>Руководство пользователя</h2>       

<div class="wrapper">
    <h4>Аннотация</h4>
    <p>
        Настоящий документ представляет собой руководство пользователя (далее Руководство) информационной системы (далее ИС) конвертации и учета результатов измерений радиоконтрольного оборудования тестирования (далее «СПО РКОТ»).
    </p>
    <p>Руководство определяет порядок взаимодействия с ИС, а также порядок формирования протоколов для поставщиков услуг.</p>
    <p>Перед работой пользователя с СПО РКОТ рекомендуется внимательно ознакомиться с настоящим руководством.</p>

    <h4>Область применения</h4>
    <p>Пользовательский интерфейс СПО РКОТ обеспечивает информационную поддержку деятельности филиалов информацией об учете результатов измерений РКОТ.</p>

    <h4>Краткое описание возможностей</h4>
    <p>Возможность импорта конфигурации</p>
    <p></p>
</div>