@page "/faq"
@inject NavigationManager NavManager

<h1>F.A.Q.</h1>

<span class="title">Описание сервиса</span>
<p class="intro">Вы находитесь на интернет-ресурсе <a href=@NavManager.BaseUri>@NavManager.BaseUri.Replace("https://", "").Replace("http://", "")</a>, веб-сервисе Topaz.</p>

<span class="title">Руководство пользователя</span>       

<div class="info">
    <div class="subtitle">Аннотация</div>
    <p>Настоящий документ представляет собой руководство пользователя (далее Руководство) информационной системы (далее ИС) конвертации и учета результатов измерений радиоконтрольного оборудования тестирования (далее «СПО РКОТ»).</p>
    <p>Руководство определяет порядок взаимодействия с ИС, а также порядок формирования протоколов для поставщиков услуг.</p>
    <p>Перед работой пользователя с СПО РКОТ рекомендуется внимательно ознакомиться с настоящим руководством.</p>

    <div class="subtitle">Область применения</div>
    <p>Пользовательский интерфейс СПО РКОТ обеспечивает информационную поддержку деятельности филиалов информацией об учете результатов измерений РКОТ.</p>

    <div class="subtitle">Краткое описание возможностей</div>
    <p>Возможность импорта конфигурации</p>
    
    <div class="image-wrap">
        <span class="image-title">Название рисунка</span>
        
        <div class="image">
            <img src="../123.png" alt="Картинка"/>
            <div class="image-descr">описание</div>
        </div>
    </div>
</div>