@page "/faq"
@inject NavigationManager NavManager

<h1>F.A.Q.</h1>

<span class="title">Описание сервиса</span>
<p class="intro">Вы находитесь на интернет-ресурсе <a href=@NavManager.BaseUri>@NavManager.BaseUri.Replace("https://", "").Replace("http://", "")</a>, веб-сервисе Topaz.</p>

<span class="title">Руководство пользователя</span>       

<div class="info">
    <div class="subtitle">Аннотация</div>
    <p>Настоящий документ представляет собой руководство пользователя (далее Руководство) информационной системы (далее ИС) конвертации и учета результатов измерений радиоконтрольного оборудования тестирования (далее «СПО РКОТ»).</p>
    <p>Руководство определяет порядок взаимодействия с ИС, а также порядок формирования протоколов для поставщиков услуг.</p>
    <p>Перед работой пользователя с СПО РКОТ рекомендуется внимательно ознакомиться с настоящим руководством.</p>

    <div class="subtitle">Область применения</div>
    <p>Пользовательский интерфейс СПО РКОТ обеспечивает информационную поддержку деятельности филиалов информацией об учете результатов измерений РКОТ.</p>

    <div class="subtitle">Краткое описание возможностей</div>
    <p>Возможность импорта и экспорта (неполный) протоколов</p>
    <p>Просмотр и редактирование протоколов, сортировка и фильтрация</p>

    <div class="subtitle">Главная страница (Index)</div>       
    <div class="image-wrap">
        <span class="image-title">Главная страница с протоколом</span>
        
        <div>
            <img src="/assets/images/index1.png" alt="Картинка"/>
        </div>
    </div>
    <p>На странице открывается последний вставленный в БД протокол. Имеется кнопка "Открыть последние 10 протоколов", она разворачивает выпадающий список с протоколами.</p>
    <p>В выпадающем списке можно выбирать протоколы.</p>
    <p>Все поля на странице интерактивны и одновременно меняют модель.</p>
    <p>Кнопка "Сохранить в БД" сохраняет модель в базу данных</p>
    <p>Кнопка "Экспорт на локальный компьютер" начнёт конвертацию текущей модели (возможно модифицированной) в файл Miscrosoft Office Excel. Конвертация происходит из преднастроенного шаблона, в будующем планируется добавить возможность загружать свои шаблоны.</p>
    <p>Кнопка "Перерисовать диаграмму" начинает перерисовку диаграммы. Диаграмма формируется на основе значений из протокола. В данный момент версии программы это чисто демонстративная функциональность позволяющая увидеть возможности программы.</p>    <div class="image-wrap">
        <span class="image-title">Кнопки главной страницы</span>

        <div>
            <img src="/assets/images/index2.png" alt="Картинка" />
        </div>
    </div>
    <div class="image-wrap">
        <span class="image-title">Страница импорта</span>

        <div>
            <img src="/assets/images/import1.png" alt="Картинка" />
        </div>
    </div>
    <p>На странице импорта можно наблюдать "файловое чистилище". Тут лежат временные файлы-протоколы которые были загружены на сервер, но ещё не импортированы в БД.</p>
    <p>Протоколы можно выборочно удалять, изменять, сохранять в БД.</p>
    <p>Есть фильтрация и сортировка.</p>
    <p>Кнопка "Выбор и импорт таблиц" позволяет переключать контекст протоколов (на их данные группп, доп. информацию о протоколе и т.д.)</p>
    <p>При переполнении элементов, присутствует пагинация.</p>
    <p>Кнопка "Выбрать файлы" выбирает файлы на загрузку</p>
    <p>Кнопка "Загрузить файлы на сервер" загружает выбранные файлы в "файловое чистище".</p>
    <div class="image-wrap">
        <span class="image-title">Страница авторизации</span>

        <div>
            <img src="/assets/images/auth1.png" alt="Картинка" />
        </div>
    </div>
    <p>Функционал на этой странице ещё не релиазован, в будущем планируется реализовать.</p>
        
</div>