@page "/import"

<h1>Импорт</h1>

<nav class="nav">
    <button>123123</button>
</nav>

<div class="table-wrapper">
    <!-- СЮДА ТАБЛИЦУ(вместо <table>) !-->
    <table>
        <tbody>
        <tr>
            <td>123</td>
            <td>123</td>
            <td>123</td>
            <td>123</td>
        </tr>
        <tr>
            <td>123</td>
            <td>123</td>
            <td>123</td>
            <td>123</td>
        </tr>
        <tr>
            <td>123</td>
            <td>123</td>
            <td>123</td>
            <td>123</td>
        </tr>
        <tr>
            <td>123</td>
            <td>123</td>
            <td>123</td>
            <td>123</td>
        </tr>
        <tr>
            <td>123</td>
            <td>123</td>
            <td>123</td>
            <td>123</td>
        </tr>
        
        </tbody>
    </table>
    
    <div class="filters">
        <button class="save">Сохранить</button>
        
        <div class="filters-menu">
            <div class="filter-item titles">
                <label>Федеральный округ (ФО):</label>
                <label>Место проведения контроля:</label>
                <label>Период проведения контроля:</label>
            </div>
            
            <div class="filter-item fields">
                <input type="text" placeholder="Федеральный округ"/>
                <input type="text" placeholder="Место проведения контроля"/>
                <div class="inputs">
                    <label>с<input type="text" placeholder=""/></label>
                    <label>до<input type="text" placeholder=""/></label>
                </div>
            </div>
            
            <div class="filter-item file">
                <label>Выберите файл:</label>
                <input type="file"/>
            </div>
        </div>
        
        <button class="cancel">Отмена</button>
    </div>
</div>