@page "/"
@inherits Topaz.Data.Component.Index.IndexComponent

<PageTitle>Dashboard</PageTitle>

<h1>Dashboard</h1>

<div class="nav">
    <button>123123</button>
</div>
<div class="content">
    <div class="column">

    </div>
    <div class="column">

    </div>
    <div class="column">

    </div>
</div>
