@page "/login"

<PageTitle>Вход</PageTitle>

<div class="logo">
    
</div>

<div class="login-wrap">
    <span class="title">Вход</span>
    <form>
        <input class="login" type="text" placeholder="Логин"/>
        <input class="password" type="text" placeholder="Пароль"/>
        <a class="forgot" href="/forgotpassword">Забыли пароль?</a>
    </form>
</div>

@code {
    
}